*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
nav{
    padding-inline:10% ;
    width: 100%;
    height: 60px;
    background-color: #161A30;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav #logo-nav{
    /* background-image: url("/src/navbar_logo.png");
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: multiply; */
    font-family:Times;
    font-size: xx-large;
    color: #B6BBC4;
    text-decoration: line-through ;
    text-transform: uppercase;
}
nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    padding-inline: 10%;
    color: #B6BBC4;
    
}
nav #search-bar {
    
}
nav #search-bar input{
    background-color: #31304D ;
    text-decoration: aliceblue;
    border-radius: 25px;
    height:28px ;
    margin-inline:10px ;
    padding-inline: 5px;
}
nav #search-bar button{
    height:28px ;
    width: 28px ;
    border-radius: 25px;
    background-color:#31304D ;

}
